<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Babushka Blog</title>
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/layout.css" rel="stylesheet">
</head>
<body>
<section class="blog_skeleton">
    <h1 class="blog_skeleton_title">Title</h1>
    <h2 class="blog_skeleton_author">Author</h2>
    <h3 class="blog_skeleton_date">Date</h3>
    <p class="blog_skeleton_body">Body of Blog</p>
    <h3 class="blog_skeleton_hashtag">Hash Tags</h3>
</section>

</body>
</html>