<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Babushka Blog</title>
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/layout.css" rel="stylesheet">
</head>
<body>
<section class="blog_skeleton">
    <h1 class="blog_skeleton_title" th:text="${blog.title}">Title</h1>
    <h2 class="blog_skeleton_author" th:each="author: ${blog.authors}" th:text="${author.name}">Author</h2>
    <h3 class="blog_skeleton_date">Date</h3>
    <p class="blog_skeleton_body" th:text="${blog.body}">Body of Blog</p>
</section>

<div th:each="hashtag: ${blog.hashTags}" th:text="${hashtag.name}"></div>
<form th:action="'/blog/' + ${blog.id} + '/add-hashtag'" method="post">
    <input name="hashTagName" type="text">
    <button type="submit">Add some Hashtags</button>
</form>

<a class="link_homepage" th:href="'/home/'">Home</a>
</body>
</html>