<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Home</title>
</head>
<body>
<header class="header">
    <h1 class="header_title">BABUSHKA FOOD HUB!</h1>
</header>
    <h2 class="home_list_title">CHECK OUT OUR POSTS:</h2>
<nav class="home_list_links_nav">
    <ul class="home_list_links">
        <li th:each="food:${home}">
            <a th:href="@{'/home/'+ ${food.type}}" th:text="${food.type}">Pierogi</a>
            <a th:href="@{'/home/'+ ${food.type}}" th:text="${food.type}">Golabki</a>
            <a th:href="@{'/home/'+ ${food.type}}" th:text="${food.type}">Kabanosy</a>
        </li>

    </ul>
</nav>

</body>
</html>
